.success {
    position: relative;
    background-color: #004047;
    background-image: url("../../images/success-bgi_1.svg"), url("../../images/success-bgi_3.png");
    background-position: calc(50% - 690px) top, calc(50% + 660px) calc(50% + 324px);
    background-size: 147px 100px, 200px 100px;
    background-repeat: no-repeat;

}

.success__inner {
    padding: 140px 0;
}

.success__title-box {
    width: 100%;
    max-width: 932px;
    margin: 0 auto;
    margin-bottom: 52px;

}

.success__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.success__title>span {
    color: #79C8C7;
}

.success__list {
    @include flex-starter;
    @include list-starter;
    justify-content: space-between;
}

.success__item {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0;
    padding-top: 40px;

    &:nth-child(2) {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    background-image: url("../../images/success-bgi_2.svg");
    background-size: 67px 56px;
    background-repeat: no-repeat;
    background-position: center 5px;
}



.success__quote {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;

}

.success__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    margin-bottom: 2px;
}

.success__info {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 32px;
}

@include max-width(1500px) {
    .success {
        background-image: url("../../images/success-bgi_1.svg"), url("../../images/success-bgi_3.png");
        background-position: left top, right bottom;
    }
}

@include max-width(900px) {
    .success__inner {
        padding: 120px 75px;
    }

    .success__list {
        flex-direction: column;
        max-width: 675px;
    }

    .success__item {
        max-width: 675px;

        &:nth-child(2) {
            margin-right: 0;
            margin-left: 0;
        }

        &+& {
            margin-top: 84px;
        }


    }

}

@include max-width(800px) {
    .success__inner {
        padding: 120px 73px;
    }

    .success__item {
        max-width: 573px;
    }

    .success__title-box {
        margin-bottom: 84px;
    }

    .success__title {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 32px;
    }
}

@include max-width(576px) {
    .success__inner {
        padding-top: 140px;
        padding-right: 0;
        padding-bottom: 164px;
        padding-left: 0;
    }

    .success__quote {
        margin-bottom: 16px;
    }
}